@model GroupActionViewModel

<h1 class="indent__margin-bottom">Create new todo</h1>

<form method="post" asp-controller="Group" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="indent__margin-bottom">
        <input id="title" class="input" asp-for="Title" placeholder="Title" type="text" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="indent__margin-bottom">
        <input id="description" class="input" asp-for="Description" placeholder="Description" type="text" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="indent__margin-bottom">
        <button id="button_confirm" class="button" type="submit">Confirm</button>
    </div>
</form>