@model GroupActionViewModel

<h1>Редактировать группу</h1>

<form class="forms" method="post" asp-controller="Group" asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="formslabel">
        <input id="title" class="input" asp-for="Title" placeholder="Наименование" type="text" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="formslabel">
        <input id="description" class="input" asp-for="Description" placeholder="Комментарий" type="text" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="formslabel">
        <button id="button_confirm" class="button" type="submit">Изменить</button>
    </div>
</form>

@section css {
    <link href="~/css/group.css" rel="stylesheet" asp-append-version="true" />
}