@model IEnumerable<GroupViewModel>

@if (Model.Any())
{
    foreach (var group in Model)
    {
<form asp-controller="Group" asp-action="Index">
    <div>
        <p> LastName: @group.Title</p>
    </div>
    <div>
        <p> FirstName: @group.Description</p>
    </div>
</form>
        }
        }
        else
        {
        <h1>Group list is empty</h1>
        }
