@model TransactionActionViewModel

<h1 class="indent__margin-bottom">Добавление платежа</h1>
<form method="post" asp-controller="Transaction" asp-action="Create">
    <input type="hidden" value="@Model.GroupId" name="GroupId" />
    <div asp-validation-summary="ModelOnly"></div>
    <div class="indent__margin-bottom">
        <input id="description" class="input" asp-for="Description" placeholder="Description" type="text" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="indent__margin-bottom">
        <input id="comment" class="input" asp-for="Comment" placeholder="Comment" type="text" />
        <span asp-validation-for="Comment"></span>
    </div>
    <div class="indent__margin-bottom">
        <input id="amount" class="input" asp-for="Amount" placeholder="Amount"  />
        <span asp-validation-for="Amount"></span>
    </div>
    <div class="indent__margin-bottom">
        <button id="button_confirm" class="button" type="submit">Confirm</button>
    </div>
</form>
