
@{
    ViewData["Title"] = "DebtTracker";
}

<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="greeting">
            <h1>Добро пожаловать в приложение DebtTracker</h1>
        </div>

        <div>
            <a class="groupicon" asp-controller="Group" asp-action="Index">
                <img title="События" src="/images/3 User.svg" />
            </a>
        </div>
    }


</body>


