@{
    ViewData["Title"] = "DebtTracker";
}

<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="greeting">
            <h1>Добро пожаловать в приложение DebtTracker</h1>
        </div>

        <div>
            <a class="groupicon" asp-controller="Group" asp-action="Index">
                <img title="События" src="/images/3 User.svg" />
            </a>
        </div>
    }
    else
    {
    <div class="greeting">
        <h1 class="text_greeting">Добро пожаловать на страницу приложения DebtTracker</h1>
        <h2 class="text_greeting">
            Мы поможем вам быть в курсе сколько вы потратили на поездку с друзьями, шашлыки или выезд на природу,
            а так же рассчитать кто кому остался должен. Вносите суммы своих трат и за кого проведена оплата, а мы сами все подсчитаем.
        </h2>
    </div>
    }
</body>