<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/app.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("css", false)
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="header">
            <a class="logo" asp-controller="Home" asp-action="Index">DebtTracker</a>
            <div class="account">
                @if (User.Identity.IsAuthenticated)
                {
                    <form method="get" asp-controller="Profile" asp-action="Profile">
                        <button class="profile" type="submit"></button>
                    </form>
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button class="accountbottomexit" type="submit"></button>
                    </form>
                }
                else
                {
                    <form method="get" asp-controller="Account" asp-action="Register">
                        <button class="register" type="submit" title="Зарегестрироваться"></button>
                    </form>
                    <form method="get" asp-controller="Account" asp-action="Login">
                        <button class="login" type="submit" title="Вход"></button>
                    </form>
                }
            </div>
            </div>
        </div>
    </header>

    <div class="wrapper">
        @RenderBody()
    </div>
</body>
</html>