@model ProfileViewModel

<form class="forms" method="post" asp-controller="Profile" asp-action="ChangePhoneNumber">
    <div class="formslabel">
     <p>Текущий номер:</p>
     <p>@Model.Phone</p>
    </div>
    <div class="formslabel">
        <label asp-for="Phone">Введите новый номер телефона:</label><br />
        <input asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </div>
    <div class="formslabel">
        <input class="button" type="submit" value="Сохранить" />
    </div>
</form>