@model ProfileViewModel


<form class="forms" method="post" asp-controller="Profile" asp-action="EditProfile">
    <div>
        <label asp-for="FirstName">Фамилия</label><br />
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName">Имя</label><br />
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="MiddleName">Отчество</label><br />
        <input asp-for="MiddleName" />
        <span asp-validation-for="MiddleName"></span>
    </div>
    <div>
        <input type="submit" value="Сохранить" />
    </div>
</form>
