@model ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}

<form class="forms" asp-action="ChangePassword" asp-controller="Account">
    <h2>Изменение пароля для пользователя @Model.UserName</h2>
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserName" />
    <div class="formslabel">
        <label asp-for="OldPassword" class="control-label">Старый пароль</label>
        <input type="text" asp-for="OldPassword" class="form-control" />
    </div>
    <div class="formslabel">
        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
        <input type="text" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="formslabel">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>
