@model ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}

<form class="forms" asp-action="ChangePassword" asp-controller="Account">
    <h2>Изменение пароля для пользователя @Model.UserName</h2>
    <div asp-validation-summary="All"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserName" />
    <div class="formslabel">
        <label asp-for="OldPassword">Старый пароль</label><br />
        <input type="text" asp-for="OldPassword" />
    </div>
    <div class="formslabel">
        <label asp-for="NewPassword">Новый пароль</label><br />
        <input type="text" asp-for="NewPassword" />
    </div>
    <div class="formslabel">
        <input type="submit" value="Сохранить" class="button" />
    </div>
</form>