@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забыли пароль?";
}

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="forms">
    <h2>@ViewData["Title"]</h2>
    <h4>Введите email.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="formslabel">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="formslabel">        
            <button type="submit" class="button">Отправить</button>       
    </div>
</form>
