@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Сброс пароля";
}

<h2>@ViewData["Title"]</h2>
<h4>Введите пароль.</h4>
<hr />

<form class="forms" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Code" type="hidden" />
    <div class="formslabel">
        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="formslabel">
        <label asp-for="Password">Пароль</label><br />
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="formslabel">
        <label asp-for="ConfirmPassword">Подтверждение пароля</label><br />
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="button">Сбросить</button>
</form>
